<div class="row">
  <div class="col-md-2 offset-md-10">
    <button (click)="backtoShows()" class="btn btn-info">Back</button>
  </div>
</div>

<div class="row" *ngIf="showDetailsLoaded">
  <div class="col-md-4">
    <div class="card" style="width: auto;">
      <img src="{{urlImg}}{{showDetails.poster_path}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ showDetails.name }}</h5>        
        <h6 class="card-subtitle mb-2 text-info">        
            <li class="list-inline-item" *ngFor="let genre of showDetails.genres">
                {{ genre.name }}
            </li>        
        </h6>
        <div class="card-body">
        <p class="card-text">{{ showDetails.overview }}</p>
    </div>
      </div>      
    </div>
  </div>
  <div class="col-md-8">
    <h2>{{showDetails.name}}</h2>
    <h6 class="text-success"> 
        {{showDetails.number_of_episodes}} episodes,
        {{showDetails.number_of_seasons}} seasons
    </h6>
    <h4>EPISODES</h4>
    <h5>Seasons:
        <ng-container *ngFor="let season of showDetails.seasons">
        <span  class="mx-1 episode-number" *ngIf="season.season_number !== 0">
            <!-- <a *ngIf="season.season_number === seasonNumber">{{season.season_number}}</a> -->

            <a [ngClass]="{'active disabled': season.season_number === seasonNumber}"  href="javascript:void(0)" 
                (click)="showEpisodes(season.season_number)">
                {{season.season_number}}
            </a>
        </span>
        </ng-container>
    </h5>
    <tv-episodes [showId]="showId" [seasonNumber]="seasonNumber"></tv-episodes>
  </div>
</div>

<include-spinner *ngIf="!showDetailsLoaded"></include-spinner>
