<include-spinner *ngIf="isLoading"></include-spinner>

<tv-show *ngIf="isShowDetail" [showId]="showId" (clickedBack)="showsList()"></tv-show>

<form class="row" *ngIf="!isShowDetail" onSubmit="return false;">
  <div class="col-md-12 my-1">
    <div class="float-right">
      <input type="text" class="form-inline-control mx-2" #search>
      <button type="submit" class="btn btn-sm btn-dark" (click)="searchTv(search.value)">Search</button>
      <input type="reset" value="Clear" class="btn btn-sm btn-danger ml-1" (click)="searchTv()">
    </div>
  </div>
</form>

<ng-container *ngIf="!isShowDetail && !isLoading" id="list-container">
  <includes-alert-error [status]="status" *ngIf="isError"></includes-alert-error>
  <div class="row">
    <ng-container *ngIf="!isError">
      
      <div *ngIf="shows.length < 1" class="div-alert my-2">
        <div class="alert alert-danger">No Result Found</div>
      </div>

      <div class="col-md-2 card-show" *ngFor="let show of shows">
        <div class="card mb-2 shadow-sm">
          <img class="card-img-top" data-src="{{urlImg}}{{show.poster_path}}" alt="{{show.name}}">
          <div class="card-body" (click)="showDetails(show.id)">
            <a href="javascript:void(0)">
              {{show.name}}
            </a>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</ng-container>

<ng-container *ngIf="!isShowDetail">
  <div class="row mt-5">
    <div class="col-md-12">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" *ngIf="currentPage > 1">
            <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-disabled="false" (click)="setCurrentPage(currentPage - 1)">Previous</a>
          </li>
          <li class="page-item disabled" *ngIf="currentPage == 1">
            <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link">{{currentPage}}</a></li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)" (click)="setCurrentPage(currentPage + 1)">Next</a>
          </li>
          <!-- <li class="page-item">
            <a class="page-link" href="javascript:void(0)" (click)="setCurrentPage(this.showsRes.total_pages - 1)">Last</a>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>
</ng-container>
