.card-show{
    padding-left: 2px;
    padding-right: 2px;
}

.card-body{
    padding: 0.25rem;
    font-weight: 600;
    font-size: 0.6rem;
}

.card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#list-container{
    min-height: 500px;
}

.div-alert{
    width: 100%;
    text-align: center;
}